@font-face{
    font-family: grotesk;
    src:url("../src/assets/fonts/FoundersGroteskXCond-Bold.otf");
}
@font-face {
    font-family: NeuMontreal;
    src:url("../src/assets/fonts/NeueMontreal-Regular.ttf");
}
@import "tailwindcss";
@theme{
    --font-grotesk: grotesk,"sans-serif";
    --font-NeuMontreal: NeuMontreal,"sans-serif";
}
